<div class="container text-center">
  <div class="row justify-content-center">
    
    <div class="col-lg-6">
      <div class="p-4 mt-3 card">
        <img src="./assets/img/foto.jpg" />
        <div class="card-body">
          <h1 class="card-title">Matias Contreras</h1>
          <p class="card-text">Consultor Middleware con productos Redhat</p>
          <p class="card-text">Tech Business Partner de Microsoft</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 align-self-center">
        <h5 class="mt-3" style="color: white;">Profesional Ingeniero en Informática, orientado a desarrollo de servicios Web, Micro-Servicios,
            Analisis de sistemas, Bases de datos SQL, Spring, JAVA.</h5>
    </div>
  </div>
</div>
