<div class="container text-center">
  <div class="row">
    <div class="col-lg-4">
      <div class="p-4 mt-3 card">
        <img class="rounded" src="./assets/img/foto.jpg" />
        <div class="card-body">
          <h1 class="card-title">¡Hola! Soy Matías.</h1>
          <p class="card-text">Consultor Middleware con Productos Redhat</p>
          <p class="card-text">Tech Business Partner de Microsoft</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-3 align-self-center">
      <div class="card p-3">
        <h5 class="card-title">
          Profesional Ingeniero en Informática, orientado a desarrollo de
          servicios Web, Microservicios, Análisis de sistemas, Bases de datos
          SQL, Spring, JAVA.
        </h5>
        <div class="d-flex justify-content-around mb-3">
          <div class="p-2">
            <a
              href="https://www.linkedin.com/in/matiascontrerascaro/"
              alt="LinkedIn"
            >
              <img
                alt="LinkedIn"
                style="height: 2rem"
                src="./assets/img/logo-linkedin.png"
              />
            </a>
          </div>
          <div class="p-2">
            <p class="h6">¡Contactemonos!</p>
          </div>
          <div class="p-2">
            <a href="https://github.com/virmaus/" alt="GitHub">
              <img
                alt="GitHub"
                style="height: 2rem"
                src="./assets/img/GitHub_logo.png"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
