<div class="container text-center">
  <div class="row">
    <div class="col-sm-6 mt-3">
      <div class="card">
        <img src="./assets/img/Ciencia-de-Datos.jpg" />
        <div class="card-body">
          <h5 class="card-title">Página Web - Firma de Abogado</h5>
          <p class="card-text">
            Servicio Web para bufet de Abogados en Santiago, construcción de
            marca online, diseño de página web, descripción de servicios y
            contacto.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-3">
      <div class="card">
        <img src="./assets/img/Ciencia-de-Datos.jpg" />
        <div class="card-body">
          <h5 class="card-title">Galería de Arte Online - Artista Visual</h5>
          <p class="card-text">
            Exposición de Pinturas Online para Artista Visual Chilena, incluye
            conexión con Redes Sociales y formulario de Contacto. Próximamente
            con E-commerce.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-3">
      <div class="card">
        <img src="./assets/img/Ciencia-de-Datos.jpg" />
        <div class="card-body">
          <h5 class="card-title">Login Instantáneo con Email y Redes Sociales - Plataforma Transaccional </h5>
          <p class="card-text">
            Acceso a plataforma con un usuario externo y vinculación de Redes Sociales. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
